phase01/DSA-gemini/node_modules/
phase01/DSA-gemini/.env
.env

phase01/AI-agent-gemini/node_modules/
phase01/AI-agent-gemini/.env


phase01/gen-ai/Phi-3-mini-4k-instruct
phase01/gen-ai/myvenv

phase01/cursorAi/node_modules/
phase01/cursorAi/.env
phase01/cursorAi/course-selling-website/


phase01/gen-ai/.env

phase01/RAG/node_modules/
phase01/RAG/.env


phase02/Chat/node_modules
phase02/Chat/.env

phase02/RAG-debugger/node_modules
phase02/RAG-debugger/.env


phase02/LangChain/venv
phase02/LangChain/.env

phase02/MCP/venv
phase02/MCP/.env


